<header class="main-header header__style__one ">
    <!-- header-top-one -->
    <div class="header-top-one">
        <div class="auto-container">
            <div class="top__inner">
                <div class="top__hrader__left">
                    <ul>
                        <li><span>Address :</span>  9201 University City Blvd, Charlotte, NC 28223</li>
                        <li>/</li>
                        <li><span>Email :</span> <a href="mailto:info@company.com">ai4health@charlotte.edu</a></li>
                    </ul>
                </div>
                <div class="top__hrader__right">
                    <ul>
                        <li><a href="www.linkedin.com/in/ai4health-center"><i class="icon-10"></i></a></li>
                        <li><a href="www.linkedin.com/in/ai4health-center"><i class="icon-14"></i></a></li>
                        <li><a href="www.linkedin.com/in/ai4health-center"><i class="icon-01"></i></a></li>
                        <li><a href="www.linkedin.com/in/ai4health-center"><i class="icon-11"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index."><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix home-menu">
                              <li><a href="index">Home</a></li>


                                <li class="dropdown"><a href="#">About</a>
                                    <ul>
                                       
                                     <li><a href="about.html">About  </a></li>

                                     <li><a href="team.html">Team</a></li>   
                                
                            </ul>
                                
                                        <li><a href="services.html">Research </a></li>

                                         <li><a href="pricing.html">Industrial</a></li>

                                         <li><a href="testimonial.html">Outreach</a></li>
                                        
                                        <li><a href="blog.html">News</a></li>
                                
                        </div>
                    </nav>
                </div>
                <div class="btn-box">
                    <a href="about.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> About</a>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index"><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="btn-box">
                    <a href="about.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> About</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->
