<style> 


</style>



<div class="auto-container">
    <div class="row">
       <div class="section-title">
<h2>Leadership</h2>
</div>

<!-- Leadership Section -->


<!-- Leadership Member 1 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupLeader1">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-09.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Pu Wang</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Leadership Member 1 -->
<div id="popupLeader1" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Pu Wang</h3>
<p>Information about Dr. Pu Wang...</p>
<a href="https://webpages.charlotte.edu/pwang13/" class="home-button" target="_blank">
<img src="assets/images/resource/team-09.jpg" alt="Home">
</a>
</div>
</div>

<!-- Leadership Member 2 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupLeader2">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-03.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Ahmed Helmy</h3>
        </div>
    </div>
</div>

<!-- Popup for Leadership Member 2 -->


<div id="popupLeader2" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Ahmed Helmy</h3>
<p>Information about Dr. Ahmed Helmy...</p>
<a href="https://sites.google.com/uncc.edu/helmy/home" class="home-button" target="_blank">
<img src="assets/images/resource/team-03.jpg" alt="Home">
</a>
</div>
</div>










<!-- Repeat for other leadership members -->
</div>

<!-- Researcher Section -->
<div class="section-title">
<h2>Researchers</h2>
</div>


<div class="row">
<!-- Research Member 1 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff1">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-02.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Minwoo Lee</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Researcher Member 1 -->
<div id="popupStaff1" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Minwoo Lee</h3>
<p>Information about Dr. Minwoo Lee...</p>
<a href="https://sds.charlotte.edu/directory/minwoo-jake-lee" class="home-button" target="_blank">
<img src="assets/images/resource/team-02.jpg" alt="Home">
</a>
</div>
</div>



 <!-- Research Member 2 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff2">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-04.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Min Shin</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Research Member 2 -->
<div id="popupStaff2" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Min Shin</h3>
<p>Information about Dr. Min Shin...</p>
<a href="https://sites.google.com/a/uncc.edu/mcshin/" class="home-button" target="_blank">
<img src="assets/images/resource/team-04.jpg" alt="Home">
</a>
</div>
</div>

<!-- Research Member 3  -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff3">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-05.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Liyue Fan</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Research Member 3 -->
<div id="popupStaff3" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Liyue Fan</h3>
<p>Information about Dr. Liyue Fan...</p>
<a href="https://webpages.charlotte.edu/lfan4/index.html" class="home-button" target="_blank">
<img src="assets/images/resource/team-05.jpg" alt="Home">
</a>
</div>
</div>

<!-- Research Member 4 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff4">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-06.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Srijan Das</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Research Member 4 -->
<div id="popupStaff4" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Srijan Das</h3>
<p>Information about Dr. Srijan Das...</p>
<a href="https://srijandas07.github.io/" class="home-button" target="_blank">
<img src="assets/images/resource/team-06.jpg" alt="Home">
</a>
</div>
</div>


  <!-- Research Member 5 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff5">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-07.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Razvan Bunescu</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Research Member 5 -->
<div id="popupStaff5" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Razvan Bunescu</h3>
<p>Information about Dr. Razvan Bunescu...</p>
<a href="https://webpages.charlotte.edu/rbunescu/" class="home-button" target="_blank">
<img src="assets/images/resource/team-07.jpg" alt="Home">
</a>
</div>
</div>

<!-- Research Member 6 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff6">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-08.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Dr. Srinivas Akella</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Research Member 6 -->
<div id="popupStaff6" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Dr. Srinivas Akella</h3>
<p>Information about Dr. Srinivas Akella...</p>
<a href=" http://webpages.charlotte.edu/sakella" class="home-button" target="_blank">
<img src="assets/images/resource/team-08.jpg" alt="Home">
</a>
</div>
</div>





<!-- Repeat for other Research members -->
</div>




<div class="section-title">
<h2>Staff</h2>
</div>
<div class="row">
<!-- Staff Member 1 -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" data-target="#popupStaff7">
        <div class="team__img">
            <figure>
                <img src="assets/images/resource/team-01.jpg" alt="">
            </figure>
        </div>
        <div class="team__name">
            <h3>Issam Alzouby</h3>
        </div>
    </div>
</div>
<!-- Pop-up for Staff Member 1 -->
<div id="popupStaff7" class="popup">
<div class="popup-content">
<span class="close">&times;</span>
<h3>Issam Alzouby</h3>
<p>Information about Issam Alzouby...</p>
<a href="https://sites.google.com/uncc.edu/helmy/home" class="home-button" target="_blank">
<img src="assets/images/resource/team-01.jpg" alt="Home">
</a>
</div>
</div>















 



<!-- Repeat for other staff members -->
</div>
</div>