<style>
    .rounded-shadow {
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 139, 0.6);
      max-width: 90%;
      height: auto;
      margin: 50px auto; /* Center the container horizontally */
      display: block;
      border: none; /* Remove the border */
    }
  
    .videoContainer {
      width: 100%; /* Adjust the width as needed */
      padding-top: 56.25%; /* 16:9 aspect ratio */
      overflow: hidden;
      position: relative;
    }
  
    .uniqueVideoBg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Use "cover" to maintain aspect ratio and fill the container */
      border-radius: 15px; /* Rounded edges */
    }
  
    /* Add this CSS rule to remove the outline */
    .videoContainer video:focus {
      outline: none;
    }
  
    body {
      overflow-x: hidden;
    }
  </style>
  
  <div class="videoWrapper">
    <div class="rounded-shadow">
      <div class="videoContainer">
        <video class="uniqueVideoBg" autoplay loop playsinline muted>
          <source src="assets/images/banner/banner-bg.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
</div>

  
  <script>
    // Get the video element by its ID
    var video = document.querySelector('.uniqueVideoBg');
  
    // Play the video (added this line to start video playback)
    playVideo();
  
    // Play the video
    function playVideo() {
      video.play();
    }
  
    // Pause the video
    function pauseVideo() {
      video.pause();
    }
  
    // Your existing JavaScript code for popups
    document.querySelectorAll('.team__block').forEach(item => {
      item.addEventListener('click', function() {
        var popupId = this.getAttribute('data-target');
        document.querySelector(popupId).style.display = 'block';
        document.querySelector('.team__page').classList.add('blurred');
      });
    });
  
    document.querySelectorAll('.close').forEach(item => {
      item.addEventListener('click', function() {
        this.closest('.popup').style.display = 'none';
        document.querySelector('.team__page').classList.remove('blurred');
      });
    });
  </script>
  